<!-- renamed what was plan to profile -->
<%- include('partials/headers') -%>

  <span class="safeExit"><a href="https://www.google.com/">safely exit site</a></span>
  <h2>Action Plan</h2>
  <ul>
    <% for(var i=0; i<steps.length; i++) {%>
      <li class="myEntry">
        <span style="color: <%=steps[i].color%>">
          <%= steps[i].title %>
        </span>
        <span>
          <%= steps[i].description %>
        </span>
        <span>
          <%= steps[i].notes %>
        </span>
        <% const userStep=userSteps.find(s=> steps[i]._id.toString()===s.stepID.toString())
          %>
          <form action="/userSteps/<%=steps[i]._id%>" method="POST">
            <label>Upload an image here:</label>
            <input type="file" name="image">
            <textarea name="notes"><%=userStep?userStep.notes:""%></textarea>
            <span>Did you complete this?</span>
            <input type="checkbox" name="completed">
            <button type="submit">Submit</button>
          </form>
      </li>
      <% } %>
  </ul>



  <script src="main.js"></script>
  </body>

  </html>