<!-- renamed what was plan to profile -->
<%- include('partials/headers') -%>

  <span class="safeExit"><a href="https://www.google.com/">safely exit site</a></span>

  <h2>my profile</h2>
  <a href="/logout" class="btn btn-default btn-sm">Logout</a><br>

  <!-- evidence collection form for survivor:
1. date and time
2. description
3. doc
4. pictures they can attach
5. notes they can add about any docs uploaded or anything they want to record -->


  <form action="/createPost" enctype="multipart/form-data" method="POST">
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" name="description">
    </div>
    <div class="mb-3">
      <label for="notes" class="form-label">Notes</label>
      <textarea class="form-control" id="notes" name="notes"></textarea>
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Category</label>
      <select name="category">
        <option value="medical">Medical Records</option>
        <option value="legal">Legal</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" id="date" name="date">
    </div>
    <div class="mb-3">
      <label for="imgUpload" class="form-label">Image/PDF</label>
      <input type="file" class="form-control" id="imageUpload" name="file-to-upload">
    </div>
    <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
  </form>

  <section class="section intro">
    <div class="container">
      <h1>Horizontal Timeline v2 &rarr;</h1>
      <p>Timeline v1 <a href="https://codepen.io/tutsplus/full/ZKpNwm" target="_blank">here</a></p>
    </div>
  </section>

  <section class="timeline">
    <div class="info">
      <img width="50" height="50" src="https://assets.codepen.io/210284/face.svg" alt="" />
      <h2>Company History</h2>
      <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>
      <p>
        <a href="">Learn more &gt;</a>
      </p>
    </div>

    <ol>
      <% for(var i=0; i<posts.length; i++) {%>
        <li class="posts">
          <div>
            <time>
              <%= posts[i].date%>
            </time>
            <p>Description:<%= posts[i].description %>
            </p>
            <p>Notes:<%= posts[i].notes %>
            </p>
            <p>Category:<%= posts[i].category %>
            </p>
            <a href="/<%= posts[i].docImgPath %>"><span>View Document</span></a>
            <!-- edit and delete buttons -->
            <button class="btn btn-primary fa fa-pen-to-square" type="submit" data-entryid="<%= posts[i]._id %>"> Edit</button>
            <button class="btn btn-primary fa fa-trash" type="submit" data-entryid="<%= posts[i]._id %>"> Delete</button>
          </div>
        </li>
        <% } %>

    </ol>

  </section>

  <!-- <footer class="page-footer">
    <span>made by </span>
    <a href="https://georgemartsoukos.com/" target="_blank">
      <img width="24" height="24" src="https://assets.codepen.io/162656/george-martsoukos-small-logo.svg" alt="George Martsoukos logo">
    </a>
  </footer> -->


  <!-----------------------------------------------------------------------------------------  -->
  <h2 class="contacts-header">gallery</h2>

  <div class="tab">
    <button class="tablinks" onclick="openTab(event, 'docs')">all</button>
    <button class="tablinks" onclick="openTab(event, 'notes')">close</button>
    <!-- <button class="tablinks" onclick="openTab(event, 'contact')">Contact Info</button> -->
  </div>

  <div id="docs" class="tabcontent">
    <h3>Document Upload</h3>
    <ol>
      <% const imageExtensions = ['.jpg', '.jpeg', '.png', '.gif'] %>
      <% for(var i=0; i<posts.length; i++) {%>
        <% if(imageExtensions.some(ext => posts[i].docImgPath.toLowerCase().endsWith(ext))){ %>

        <li class="posts">
          <div>
          
            <img src="/<%= posts[i].docImgPath %>">
          </div>
        </li>
       <% }else{ %>
        <iframe src="/<%= posts[i].docImgPath %>" width="100%" height="600px"></iframe>
        <% } %>
        <% } %>

    </ol>
    
  </div>

  <%- include('partials/footers') -%>
    <script src="main.js"></script>
    </body>

    </html>