<%- include('partials/headers') -%>

<span class="safeExit"><a href="https://www.google.com/">safely exit site</a></span>

  <div class="container">

    <div class="journal">
      <h1>my reminders</h1>
      <a href="/logout" class="btn btn-default btn-sm">Exit</a>
    </div>

    <div class="col-sm-6">
      <h3>journal entries</h3>
      <ul class="entries">
        <% for(var i=0; i<entries.length; i++) {%>
          <li class="myEntry">
            <span>
              <%= entries[i].entry %>
            </span>
            <span>
              <%= entries[i].favorite %>
            </span>
            <span><i data-entryid="<%=entries[i]._id%>" class="fa fa-star aria-hidden=" true"></i></span>
            <span><i data-entryid="<%=entries[i]._id%>" class="fa fa-trash" aria-hidden="true"></i></span>
          </li>
          <% } %>
      </ul>

      <h2>Add a new journal entry</h2>
      <% if (user.local.email) { %>
        <form action="/journal" method="POST">
          <input type="text" placeholder="new journal entry" name="entry">
          <button type="submit">Submit</button>
        </form>
    </div>
    <% } %>

  </div>

  <script src="main.js"></script>

</body>

</html>