<%- include('partials/headers') -%>

  <body class="statusChecker">

    <span class="safeExit"><a href="https://www.google.com/">safely exit site</a></span>


    <div class="check-kit-status">
      <!-- note: statuses are the following: 1) tested 2) not tested 3) status unknown 4) en route to storage 5) in storage -->
      <h2>check on the status of your kit</h2>
      <p>check on the status of your kit anytime, and contact your designated police department as soon as you notice
        any unforeseen status changes.</p>

      <label for="kitNumber">Input your SAECK Barcode:</label>
      <input type="text" id="kitNumber" name="kitNumber" value="<%= user.local.email%>">
      <button id="clickMe" type="button" name="button">Submit</button>

      <label for="firstDate">First date checked:</label>
      <% if(status.length> 0){ %>
        <p class="firstDate">
          <%= status[status.length-1].date %>
        </p>
        <% } else { %>
          <p class="firstDate"></p>
          <% } %>
            <% for(var i=0; i<status.length; i++) {%>
              <div class="statusCard">
                <p>Kit Number:<%= status[i].kitNumber %>
                </p>
                <p>Status:<%= status[i].status %>
                </p>
                <p>Last Verified On:<%= status[i].date %>
                </p>
              </div>
              <% } %>
                <!-- <input type="text" id="verifiedOn" name="verifiedOn" value="">  -->
    </div>

    <script src="main.js"></script>
  </body>

  </html>